.book {
  display: block;
  margin: 5px;
  padding: 10px 20px;

  &__cover {
    width: 100%;
  }
  &-text-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__description {
    margin: 5px;
    font-family: "Axis";
    font-size: 12px;
  }

  &__title {
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    max-width: 50ch;
    overflow: hidden;
  }

  &__price {
    padding-left: 10px;
    font-family: "Axis";
    white-space: nowrap;
  }

  &__amount {
    width: 70px;
  }

  &__rating {
    height: 20px;
  }
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.addToCart {
  text-align: center;
  width: 200px;
}
